<div class="list row">
    <div class="col-md-6">
      <h4>Customer List</h4>
      

      <div *ngIf="!currentCustomer">
        <br />
        <p>Please click on a customer for details</p>
      </div>


      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let customer of customers; let i = index"
          [class.active]="i == currentIndex"
          (click)="setCurrentCustomer(customer, i)"
        >
        {{ customer.name }}   <br>
      
        </li>
      </ul>
    </div>
   <br>
    <div class="col-md-6">
   
      <div *ngIf="currentCustomer">
        <br><br><br>
        <h4>Customer Details</h4>
   
        <div>
   
          <label><strong>Name:  {{currentCustomer.name }}</strong></label> 
   
        </div>
   
        <div>
          <label><strong>Email: {{currentCustomer.email }}</strong></label>
        </div>
  
        <button class="m-4 btn btn-sm btn-danger" (click)="deleteCustomer()">
          Delete 
        </button>

      </div>
    </div>
  </div>