<div>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
    <a href="http://www.christopher-dent.com" class="navbar-brand">CD</a>
     
    
     
    <div class="container" id='nav'>
      
  
        <a routerLink="customers" class="nav-link"><button class="btn btn-outline-success" type="button">View Customers</button></a>
       
      
        <a routerLink="create" class="nav-link"><button class="btn btn-outline-success" type="button">Create Customer</button></a>
  
    
    </div>
   
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
 
</div>